{% extends 'reservas/base.html' %}

{% block center %}
<div class="row">
    <div class="col-md-4">
      <form method="GET">
        {{ filter.form.as_p }}
        <input type="submit" />
      </form>
    </div>

    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>cnpj</th>
            <th>nome empresa</th>
            <th>categoria empresa</th>
            <th>quitado</th>
            <th>stand</th>

          </tr>
        </thead>
        <tbody>
          {% for obj in page_obj %}
            <tr>
              <td>{{ obj.cnpj}}</td>
              <td>{{ obj.nome_empresa}}</td>
              <td>{{ obj.categoria_empresa}}</td>
              <td>{{ obj.quitado}}</td>
              <td>{{ obj.stand}}</td>
          
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<div class="container pt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
      {% endif %}

      {% for page in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
      {% endif %}
    </ul>
  </nav>
</div>

  {% endblock %}