{% extends 'reservas/base.html' %}

{% block center %}
    <h2> Formulário de Reservas</h2>
       
    <form method="post" enctype="multipart/form-data" action="{% url 'reserva_criar' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">CNPJ</label>
            {{ form.cnpj }}
        </div>
        
        <div class="mb-3">
            <label for="nome" class="form-label">Nome Empresa</label>
            {{ form.nome_empresa}}
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Categoria empresa</label>
            {{ form.categoria_empresa }}
        </div>
        
        <div class="mb-3">
            <label for="nome" class="form-label">Quitado</label>
            {{ form.quitado }}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
{% endblock %}
   